

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  position: relative;
  top: 15em;
  background-color:#0f172a ;
  flex-direction: column;
}

.inputBox{
  /* padding: 1em 9em; */
  align-items: center;
  border: 1px solid #00d4ff;
  border-radius: 10px;
  color:#0f172a ;
  font-size: large;
  font-weight: 800;
}
input {
  text-align: center;
}
 /* use for alingn the placeholde in center inside the input box */

::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}
.boxAndBtn{
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.Addbtn{
  cursor: pointer;
  padding: 15px 25px;
  border: 1px solid #2563eb;
  margin-left: 1em;
  border-radius: 19px;
  color: #0f172a;
  font-size:large;
  font-weight: bold;
  background-color: #1d4ed8;
}

.showTask{
  color: white;
}

.deleteBtn{
  cursor: pointer;
}

ol li{
  list-style-type: none;
  width: 100%;
  padding: 5px 25px;
  border: 2px solid #000309;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-evenly;
  background-color: #1e3a8a;
  border-radius: 10px;
}
.titleTodo{
  color: white; 
}
/* 
point
  lack of vocabs
  


*/